{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Componentes</h1>
<ul class="list-group list-group-flush" id="componentes">
    {% for note in user.componentes %}
    {% if note.estado == 1 %}
    <li class="list-group-item">{{ note.nome }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        <dt>No cartão: {{ note.precoCartao }}</dt>
        <dt>No pix: {{ note.precoPix }}</dt>    
    </li>
    {% endif %}
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}